<!DOCTYPE html>
<html>
<head>
  <title>Book Manager</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Book Collection Manager</h1>
    {{{content}}}
  </div>
</body>
</html>